# Q1) Select a discrete numerical attribute and calculate basic descriptive statistics such as count, mean, median, mode, and range.

In [67]:

import pandas as pd
df = pd.read_csv('income_data.csv')
print(df)

       age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]

In [22]:
#MEAN

a = df['age'].mean()
print(f"Mean : {a}")

Mean : 38.64358543876172

In [24]:
#MEDIAN

b = df['age'].median()
print(f"Median : {b}")

Median : 37.0

In [26]:
#MODE

c = df['age'].mode()
print(f"Mode : {c}")

Mode : 0    36
Name: age, dtype: int64

In [28]:
#RANGE

d = df['age'].max() - df['age'].min()
print(f"Range : {d}")

Range : 73

In [30]:
#COUNT

e = df['age'].count()
print(f"Count : {e}")

Count : 48842

# Q2) Select a continuous numerical attribute and calculate basic descriptive statistics such as mean, median, mode, range, variance, and standard deviation.

In [34]:
#MEAN

x = df['hours-per-week'].mean()
print(f"Mean : {x}")

Mean : 40.422382375824085

In [36]:
#MEDIAN

y = df['hours-per-week'].median()
print(f"Median : {y}")

Median : 40.0

In [38]:
#MODE

z = df['hours-per-week'].mode()
print(f"Mode : {z}")

Mode : 0    40
Name: hours-per-week, dtype: int64

In [40]:
#RANGE

u = df['hours-per-week'].max() - df['hours-per-week'].min()
print(f"Range : {u}")

Range : 98

In [44]:
#VARIANCE

v = df['hours-per-week'].var()
print(f"Variance : {v}")

Variance : 153.547885006268

In [48]:
#STANDARD DEVIATION

w = df['hours-per-week'].std()
print(f"Standard Deviation : {w}")

Standard Deviation : 12.39144402425593

# Q3) Select a nominal attribute and calculate the frequency distribution of its categories

In [53]:
# NOMINAL ATTRIBUTE

value_counts = df['workclass'].value_counts().to_dict()
print(value_counts)

{'Private': 33906, 'Self-emp-not-inc': 3862, 'Local-gov': 3136, '?': 2799, 'State-gov': 1981, 'Self-emp-inc': 1695, 'Federal-gov': 1432, 'Without-pay': 21, 'Never-worked': 10}

# Q4) Select an ordinal attribute and calculate the frequency distribution of its categories.

In [58]:
# ORDINAL ATTRIBUTE

valuecount = df['education'].value_counts().to_dict()
print(valuecount)

{'HS-grad': 15784, 'Some-college': 10878, 'Bachelors': 8025, 'Masters': 2657, 'Assoc-voc': 2061, '11th': 1812, 'Assoc-acdm': 1601, '10th': 1389, '7th-8th': 955, 'Prof-school': 834, '9th': 756, '12th': 657, 'Doctorate': 594, '5th-6th': 509, '1st-4th': 247, 'Preschool': 83}

# Q5) Select a binary attribute and calculate the proportion of each category (e.g., the proportion of 0 vs. 1)

In [71]:
#BINARY ATTRIBUTE

proportion = df['gender'].value_counts(normalize = True)
print(proportion)

gender
Male      0.668482
Female    0.331518
Name: proportion, dtype: float64